* { margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.header {

  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;

} 

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

}
.nav-links {
  flex: 7;
  text-align: right;
  }


.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding:8px 10px;
  position: relative;
}


.nav-links ul li a {

  color: white;
  text-decoration: none;
  font-size: 15px;

}





/*varausvalikko*/

body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0; 
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: auto; 
  padding: 20px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-bottom: 20px; 
}

.ic1 {
  margin-top: 20px; 
}

.ic2 {
  margin-top: 15px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

/* Huoneen valinta */
.select-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.select {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.select:focus ~ .cut,
.select:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.select-placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.select:focus ~ .select-placeholder,
.select:not(:placeholder-shown) ~ .select-placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.select:not(:placeholder-shown) ~ .select-placeholder {
  color: #808097;
}

.select:focus ~ .select-placeholder {
  color: #dc2f55;
}


.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}


@media (max-width: 900px) {
  
}
.nav-links {
  flex: 7;
  text-align: center;
  }


.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding:10px 10px;
  position: relative;
}


.nav-links ul li a {

  color: white;
  text-decoration: none;
  font-size: 23px;

}

.form {
 margin: auto;
 padding: auto;
  
  
}
























